.header{
  width: 100%;
  height: 50px;
  background-color:  rgb(40, 43, 48);

}

.banner {
  background: black;
  width: 100%;
  height: 205px;
  background-image: url("../../ressource/image/bannerv2.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.router-container{
  margin: 15px;
}

.shoppingCart {
  position: absolute;
  right:50px;
  color: white;
  font-size: 15px;
  border-style: solid;
  padding: 10px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 2px;
  margin-top: 5px;
  cursor: pointer;
  top: 0;
}
.shoppingCart:hover {
  border-color: #3a75fd;
}

.shoppingCartText{
  margin: 0 0 0 10px;
}
.logo {
  background-image: url("../../ressource/image/logo.png");
  width: 200px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 200px 50px;

}
.logoWrapper{
  margin-left: 15px;
  display: flex;
  width: 215px;
}

.numberIcon {
  font-size: 10px;
  position: absolute;
  left: 20px;
  background-color: red;
  padding: 1px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 1;
  top: 5px;
}
