.header{
  width: 100%;
  height: 50px;
  background-color: aqua;
}

.banner {
  background: black;
  width: 100%;
  height: 205px;
  background-image: url("../../ressource/image/bannerv2.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

.router-container{
  margin: 15px;
}
