<h1 *ngIf="cartItem.length != 0">Warenkorb ({{cartItem.length}} Artikel)</h1>
<h1 *ngIf="cartItem.length == 0">Warenkorb</h1>
<p *ngIf="cartItem.length == 0">Es befinden sich keine Artikel im Warenkorb. Gehe zur Startseite und suche dir ein Artikel aus.</p>

<div class="contentWrapper" *ngIf="cartItem.length != 0">

  <div class="menu">
    <div class="shoppingCart" [routerLink]="['/']"><fa-icon class="continueShoppingIcon" [icon]="faShoppingCart"></fa-icon><p class="shoppingCartText">Weiter shoppen</p></div>
    <div class="shoppingCart" (click)="deleteCart()" ><fa-icon class="deleteCartIcon" [icon]="faTrash"></fa-icon><p class="shoppingCartText">Warenkorb leeren</p></div>
  </div>
  <div class="content">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>
          Artikel
        </th>
        <th>
          Preis
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="product-showcase" *ngFor="let product of cartItem">
        <td class="imageColumn"><div class="image-container" [ngStyle]="{'background-image':'url(' + product.imageUrl + ')'}"></div></td>
        <td><h3> {{product.name}}</h3><p>{{product.description}}</p></td>
        <td><p> {{product.price}} € </p></td>
      </tr>
      <tr class="summaryLine">
        <td></td>
        <td>Artikelkosten:</td>
        <td>{{articleCost}}€</td>
      </tr>
      <tr>
        <td></td>
        <td>Versandkosten:</td>
        <td>{{shippingCost}}€</td>
      </tr>
      <tr>
        <td></td>
        <td><b>Gesamtsumme:</b></td>
        <td><b>{{shippingCost + articleCost}}€</b></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="contact">
    <div class="contactContent">
      <h1>Deine Informationen</h1>
      <p>Gib die Versandinformationen ein, damit wir wissen, wohin wir deine Klamotten schicken müssen.</p>
      <p class="missingInformationHint" *ngIf="showMissingInformationHint">Bitte fülle die fehlenden Informationen aus.</p>
      <input placeholder="Vor- und Nachname" [ngClass]="{'invalid' : !validName}" (keyup)="updateName($event.target.value)"/>
      <input [ngClass]="{'invalid' : !validEmail}" placeholder="E-Mail Adresse" (keyup)="checkEmail($event.target.value)"/>
      <input placeholder="Straße und Nummer" [ngClass]="{'invalid' : !validStreet}" (keyup)="updateStreet($event.target.value)"/>
      <div class="inputWrapper">
        <input class="zip" placeholder="Postleitzahl" [ngClass]="{'invalid' : !validZip}"(keyup)="updateZip($event.target.value)"/>
        <input class="city" placeholder="Stadt" [ngClass]="{'invalid' : !validCity}" (keyup)="updateCity($event.target.value)"/>
      </div>

      <h1 class="creditCardHeader">Kreditkarte</h1>
      <p>Gib die Kreditkarteninformationen ein, um die Bestellung abzuschließen.</p>
      <input [ngClass]="{'invalid' : !validCreditNumber}" (keyup)="checkCreditCard($event.target.value)" placeholder="xxxx-xxxx-xxxx-xxxx"/>
      <div class="inputWrapper">
        <input [ngClass]="{'invalid' : !validMonthYear}" class="city" placeholder="MM/YY" (keyup)="checkMonthYear($event.target.value)"/>
        <input [ngClass]="{'invalid' : !validCCV}" class="creditCard" placeholder="CVV" (keyup)="checkCCV($event.target.value)"/>
      </div>
      <div class="confirmOrder" (click)="checkout()">Bestellung abschließen</div>
    </div>
  </div>
</div>


