<h1>Unsere Produkte</h1>

<div *ngIf="products !== null && products.length > 0" class="product-containter">
  <div class="product-showcase" *ngFor="let product of products">
    <div class="image-container" (click)="callCartAPI(product.id)" [ngStyle]="{'background-image':'url(' + product.imageUrl + ')'}"></div>
    <h3>{{product.name}}</h3>
    <p> {{product.price}} € </p>
    <p> {{product.description}}</p>
  </div>
</div>

<p *ngIf="products !== null && products.length == 0">Derzeit gibt es keine verfügbaren Artikel zu Kaufen.</p>
